_site
_posts/_draft
_posts/_archive
_archive
node_modules
.vscode
*.log
*.lock
*.sh
.DS_Store
.jekyll-cache
.bundle
*/.DS_Store
*/*/.DS_Store
/_posts/ACM_User_Manual
/img/User_Manual
# */.trae/*
.trae/
documents/*
# /.trae/
# .trae/*
# *trae*
