<!DOCTYPE html>
<html lang="en">

<meta name="msvalidate.01" content="39DBA1088E4D102A5E0F2E461D60227E" />

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?1f681335bb8c58643c8ed990ab06f8cc";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
    

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}
    {{ content }}

    {% include footer.html %}



<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>

<!-- Add Auto Resize Function -->
<script type="text/javascript">

    function updateIframeWidth() {
        // 获取iframe元素
        var iframe = document.getElementsByTagName('iframe')[0];

        // 获取网页宽度的一半
        var halfWidth = Math.floor(document.body.clientWidth / 2.15);

        
        // 将iframe的宽度设置为网页宽度的一半
        iframe.width = halfWidth;
        }

        // 在窗口大小发生变化时，重新计算iframe宽度
        window.onresize = function() {
            if (window.innerWidth < 750) {
                updateIframeWidth();
            }
            else{
                iframe.width = 720;
            }
        }

        // 初始加载时计算iframe宽度
        updateIframeWidth();

</script>
